{% extends "base.html" %}

{% block content %}
    <h1>Your Favorite Recipes</h1>

    <div class="results-grid">
    {% for  fav_id, label, url, image in recipes %}
      <div class="recipe-card">
        <h5 class="card-title">{{ label }}</h5>
        <form action="{{ url }}" target="_blank">
            <button type="submit" class="btn btn-warning">Go to recipe</button>
        </form>

        <br>

        <form action="{{ url_for('remove_favorite', favorite_id=fav_id) }}" method="post">
          <button type="submit" class="btn btn-warning">Remove favorite</button>
        </form>
      </div>
    {% endfor %}
    </div>

{% endblock %}