{% extends "base.html" %}
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>

{% block content %}
<body>
    <img src="/static/banner1.png" class="rounded float-start" alt="banner 1" width="300" height="700">
    <img src="/static/banner2.png" class="rounded float-end" alt="banner 2" width="300" height="700">

    <h1>Let's find your next meal</h1>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Type your username" required>
        <button type="submit">Log in</button>
    </form>

    <br>

    <div>
        <p>New User?</p>
        <form action="/signup" method="post">
            <input type="text" name="new user" placeholder="Create new username">
            <button type="submit">Register</button>
        </form>
    </div>
</body>
{% endblock %}