{% extends "base.html" %}

{% block content %}
    <h1>Random Recipe</h1>

    <div class="results-grid">
    {% for label, url, image in recipes %}
      <div class="recipe-card">
        <h5 class="card-title">{{ label }}</h5>
        <a href="{{ url }}" target="_blank">
          <img src="{{ image }}" alt="Recipe Image">
        </a>

        <form action="/add_favorites" method="post">
          <input type="hidden" name="label" value="{{ label }}">
          <input type="hidden" name="url" value="{{ url }}">
          <input type="hidden" name="image" value="{{ image }}">
          <button type="submit" class="btn btn-warning">Save to favorites</button>
        </form>
      </div>
    {% endfor %}
    </div>

{% endblock %}